.menu-bar 
{
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label 
{
    -fx-text-fill: #2d3e4c;
}

.help-bg
{
	-fx-background-color: rgba(0,0,0,0);
}

.help-bg .scroll-pane {
    -fx-background-color: transparent;
}

.help-bg .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.help-bg .scroll-pane .content{
    -fx-background-color: transparent;
}